:root {
  --cor-base-1: #f2f2f2;
  --cor-base-2: #383838;
  --cor-principal-1: #1f7b6b;
  --cor-principal-2: #41a997;
  --cor-principal-3: #efb298;
  --cor-principal-4: #2ca069;
  --gap-10: 0.625rem;
  --padding-10: 0.625rem;
  --padding-20: 1.25rem;
  --padding-24: 1.5rem;
  --padding-48: 3rem;
  --padding-72: 4.5rem;
  --padding-120: 7.5rem;
  --font-16: 1rem/1.5 "Poppins", Arial, sans-serif;
  --font-span-20: 1.25rem/2 "Poppins", Arial, sans-serif;
  --font-21: 1.3125rem/2 "Poppins", Arial, sans-serif;
  --font-46: 2.875rem/3.5 "Poppins", Arial, sans-serif;
  --cor-font: #fafafa;
}
